.link {
  display: flex;
  align-items: center;
  gap: 12px;

  min-height: 48px;
  padding: 12px 14px;
  border-radius: var(--radius);

  color: white;
  text-decoration: none;
  font-weight: 500;

  transition: var(--transition);
}

.link:hover {
  background-color: var(--sidebar-item-hover);
}

.link.active {
  background-color: var(--sidebar-item-active);
}

.icon {
  width: 18px;
  text-align: center;
}
